:root {
  --title-bg: black;
  --title-color: #fff;
  --nav-bg: #333;
  --nav-hover: #ddd;
  --input-bg: #eee; }

body, input, button, select, textarea {
  font-family: Roboto;
  box-shadow: none !important; }

.font-fondamento {
  font-family: "Fondamento"; }

header {
  color: var(--title-color);
  background: var(--title-bg);
  box-shadow: 0px 20px 20px -20px #333 !important; }
  header div {
    background: var(--title-bg) !important; }
  header a {
    font-size: .75rem;
    color: var(--title-color);
    border-radius: 0 !important;
    font-weight: bold;
    box-shadow: inset 0px 0px 3px 0px white !important; }
    header a:hover {
      color: white; }
    @media (min-width: 768px) {
      header a {
        padding: 15px !important; } }

a.active {
  box-shadow: none !important; }

h1 {
  color: var(--title-color);
  background: var(--title-bg);
  font-size: 1.5em;
  margin: 0;
  letter-spacing: 2px;
  box-shadow: inset 0px 0px 40px 0px rgba(238, 238, 238, 0.5) !important; }
  h1:first-letter {
    font-size: 3rem; }
  h1 span {
    font-size: 3rem; }
  @media (min-width: 576px) {
    h1 {
      box-shadow: inset 0px 0px 50px 0px rgba(238, 238, 238, 0.5) !important; } }
  @media (min-width: 768px) {
    h1 {
      box-shadow: inset 0px 0px 70px 0px rgba(238, 238, 238, 0.5) !important; } }
  @media (min-width: 992px) {
    h1 {
      box-shadow: inset 0px 0px 85px 0px rgba(238, 238, 238, 0.5) !important; } }
  @media (min-width: 1800px) {
    h1 {
      box-shadow: inset 0px 0px 100px 0px rgba(238, 238, 238, 0.5) !important; } }

.settings input {
  border-radius: 0 !important;
  font-size: 1.25rem;
  border: none !important;
  border-bottom: 5px solid black !important;
  background: var(--input-bg); }

#alarm-clock, #timer-clock {
  display: none; }

.clock-text {
  font-size: 3rem;
  margin: 0; }
  @media (min-width: 576px) {
    .clock-text {
      font-size: 4rem; } }
  @media (min-width: 768px) {
    .clock-text {
      font-size: 5rem; } }
  @media (min-width: 992px) {
    .clock-text {
      font-size: 6rem; } }
  @media (min-width: 1800px) {
    .clock-text {
      font-size: 8rem; } }

main {
  margin-top: 10vh;
  margin-bottom: 10vh; }
  @media (min-width: 1800px) {
    main {
      margin-top: 20vh;
      margin-bottom: 20vh; } }
